<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>配置</title>
  <link rel="stylesheet" href="./module/element-ui.css">
  <style>
    [v-cloak] {
      display: none !important;
    }

    * {
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    body {
      margin: 0;
    }

    #config {
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      grid-template-columns: 20% auto;
    }

    #content {
      background: #EDEDED;
      position: relative;
    }

    .content_title {
      border: 1px solid #E7E7E7;
      border-radius: 10px;
      width: 80%;
      height: 60px;
      background: #F6F6F6;
      margin-top: 20px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 10px #888888;
    }

    .config_detail {
      border: 1px solid #708090;
      width: 80%;
      display: grid;
      grid-auto-rows: 50px;
      margin-top: 30px;
      margin-left: 16px;
      border-radius: 10px;
    }

    .config_detail_row {
      display: grid;
      grid-template-columns: 30% auto;
      align-items: center;
      justify-items: start;
    }

    .border_right {
      justify-self: center;
    }

    .el-input__inner {
      border-radius: 0;
      border: 1px solid #EAEAEA;
      height: 30px;
      line-height: 30px;
    }

    .el-input__inner:focus {
      border-color: #708090;
    }

    .el-input-number {
      line-height: 30px;
    }

    .el-input-number.is-controls-right .el-input-number__decrease,
    .el-input-number.is-controls-right .el-input-number__increase {
      line-height: 10px;
    }

    .el-input__icon {
      line-height: 30px;
    }

    .el-radio-button__inner {
      padding: 6px 9px;
    }

    .select_file_box {
      height: 30px;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .upload_button {
      width: 140px;
      height: 32px;
      background-color: rgba(64, 158, 255);
      border-radius: 10px;
      cursor: pointer;
      color: white;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .upload_button:hover {
      opacity: 0.8;
    }

    .upload_files:hover .cancel_upload {
      display: inline;
    }

    .cancel_upload {
      font-size: 16px;
      color: black;
      display: none;
      cursor: pointer;
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <div v-loading="page_loading" element-loading-text="拼命加载中" element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.8)" id="config" v-cloak>
    <el-menu @select="menuSelected" default-active="1" background-color="#494949" text-color="#fff"
      active-text-color="#fff">
      <el-menu-item index="1">设备信息</el-menu-item>
      <!-- <el-menu-item index="2">时间服务器配置</el-menu-item> -->
      <el-menu-item index="3">mqtt配置</el-menu-item>
      <el-submenu index="4">
        <slot slot="title">媒体配置</slot>
        <el-menu-item v-for="i,key_index in cameras" :index="media_index(key_index)">媒体配置#{{key_index+1}}
        </el-menu-item>
      </el-submenu>
      <el-menu-item index="5">系统配置</el-menu-item>
      <el-menu-item index="6">网络配置</el-menu-item>
      <el-submenu index="7">
        <template slot="title">灯光通道配置</template>
        <el-menu-item v-for="light,index in SerialPortConfig" :index="light_index(index)">灯光通道配置#{{index+1}}
        </el-menu-item>
      </el-submenu>
      <el-menu-item index="8">系统维护</el-menu-item>
    </el-menu>

    <div id="content">
      <div class="content_title">
        <i class="el-icon-s-tools"></i>
        <span>{{contentTitle}}</span>
      </div>
      <!-- 设备信息 -->
      <div v-show="menu_select==1" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">编译时间</span>
          <span>{{dev_info.compile_time}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">硬件版本</span>
          <span>{{dev_info.hardware_version}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">软件版本</span>
          <span>{{dev_info.software_version}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">物理地址</span>
          <span>{{dev_info.mac}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">设备型号</span>
          <span>{{dev_info.model}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">设备类型</span>
          <span>{{dev_info.type}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">序列号</span>
          <span>{{dev_info.serial_number}}</span>
        </div>
        <div class="config_detail_row">
          <span class="border_right">调光模式</span>
          <el-select v-model="dev_info.dimmer_work_mode" placeholder="请选择" style="width: 120px;">
            <el-option v-for="i in dimmer_work_mode" :value="i.mode" :label="i.name"></el-option>
          </el-select>
        </div>
        <div v-show="dev_info.dimmer_work_mode==1" class="config_detail_row">
          <span class="border_right">调光发送地址</span>
          <el-input v-model="dev_info.artnet_ip" style="width: 200px;"></el-input>
        </div>
        <div v-show="dev_info.dimmer_work_mode==1" class="config_detail_row">
          <span class="border_right">调光发送端口</span>
          <el-input v-model="dev_info.artnet_port" style="width: 200px;"></el-input>
        </div>
      </div>
      <!-- 时间服务器配置 -->
      <div v-show="menu_select==2" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">服务是否开启</span>
          <el-switch v-model="ntp_config.ntp_activate"></el-switch>
        </div>
        <div class="config_detail_row">
          <span class="border_right">地址</span>
          <el-input v-model="ntp_config.ntp_server_address" style="width: 200px;"></el-input>
        </div>
      </div>
      <!-- mqtt配置 -->
      <div v-show="menu_select==3" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">是否开启</span>
          <el-switch v-model="mqtt_config.mqtt_activate"></el-switch>
        </div>
        <div class="config_detail_row">
          <span class="border_right">ID</span>
          <el-input v-model="mqtt_config.mqtt_id" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">心跳间隔</span>
          <el-input-number v-model="mqtt_config.mqtt_keep_alive_interval" controls-position="right"
            style="width: 100px;"></el-input-number>
        </div>
        <div class="config_detail_row">
          <span class="border_right">用户名</span>
          <el-input v-model="mqtt_config.mqtt_user" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">密码</span>
          <el-input v-model="mqtt_config.mqtt_password" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">服务器地址</span>
          <el-input v-model="mqtt_config.mqtt_server_address" style="width: 200px;"></el-input>
        </div>
      </div>
      <!-- 媒体配置 -->
      <div v-show="menu_select==4" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">型号</span>
          <el-input v-model="cameras[av_config_index].modelNo" style="width: 300px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">名称</span>
          <el-input v-model="cameras[av_config_index].name" style="width: 300px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">ID</span>
          <el-input v-model="cameras[av_config_index].uuid" style="width: 300px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">拉流地址</span>
          <el-input v-model="cameras[av_config_index].rtsp" style="width: 300px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">推流地址</span>
          <el-input v-model="cameras[av_config_index].rtmp" style="width: 300px;"></el-input>
        </div>
      </div>
      <!-- 系统配置 -->
      <div v-show="menu_select==5" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">设备名称</span>
          <el-input v-model="localCfg.name" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">设备类型</span>
          <el-input v-model="localCfg.device_type" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">注册ID</span>
          <el-input v-model="localCfg.uuid" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">区域</span>
          <el-input v-model="localCfg.area_code" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">是否开启RDM功能</span>
          <el-switch v-model="localCfg.local_rdm_activate"></el-switch>
        </div>
        <div class="config_detail_row">
          <span class="border_right">Artnet传输地址</span>
          <el-input v-model="localCfg.artnet_model" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">中心服务器地址</span>
          <el-input v-model="localCfg.dimmer_server_ip" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">中心服务器端口</span>
          <el-input v-model.number="localCfg.dimmer_server_port" style="width: 200px;"
            @blur="verify_input(localCfg.dimmer_server_port)"></el-input>
        </div>
      </div>
      <!-- 网络配置 -->
      <div v-show="menu_select==6" class="config_detail">
        <div style="display: flex;justify-content: center;align-items: center;">
          <!-- <el-radio-group v-model="net_config.Net_WorkMode" @change="net_config_switch">
            <el-radio-button label="0">自动获取IP</el-radio-button>
            <el-radio-button label="1">设置静态IP</el-radio-button>
          </el-radio-group> -->
          <el-checkbox v-model="DhcpNetwork" @change="net_config_switch">自动获取IP</el-checkbox>
        </div>
        <div class="config_detail_row">
          <span class="border_right">IP地址</span>
          <el-input v-model="net_config.Net_IP" :disabled="DhcpNetwork" @blur="check_ip_input(net_config.Net_IP)"
            style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">网关</span>
          <el-input v-model="net_config.Net_GATEWAY" :disabled="DhcpNetwork"
            @blur="check_ip_input(net_config.Net_GATEWAY)" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">子网掩码</span>
          <el-input v-model="net_config.Net_NETMASK" :disabled="DhcpNetwork"
            @blur="check_ip_input(net_config.Net_NETMASK)" style="width: 200px;"></el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">物理地址</span>
          <span>{{net_config.Net_MAC}}</span>
        </div>
      </div>
      <!-- 灯光通道配置 -->
      <div v-show="menu_select==7" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">波特率</span>
          <el-input v-model.number="SerialPortConfig[light_channel_index].baudrate"
            @blur="verify_input(SerialPortConfig[light_channel_index].baudrate)" style="width: 200px;">
          </el-input>
        </div>
        <div class="config_detail_row">
          <span class="border_right">数据位</span>
          <el-select v-model="SerialPortConfig[light_channel_index].data_bits" placeholder="请选择" style="width: 120px;">
            <el-option v-for="i in light_data_bits" :value="i" :label="i"></el-option>
          </el-select>
        </div>
        <div class="config_detail_row">
          <span class="border_right">停止位</span>
          <el-select v-model="SerialPortConfig[light_channel_index].stop_bits" placeholder="请选择" style="width: 120px;">
            <el-option v-for="i in light_stop_bits" :value="i" :label="i"></el-option>
          </el-select>
        </div>
        <div class="config_detail_row">
          <span class="border_right">奇偶校验</span>
          <el-select v-model="SerialPortConfig[light_channel_index].parity" placeholder="请选择" style="width: 120px;">
            <el-option v-for="i in light_parity" :value="i.model" :label="i.name"></el-option>
          </el-select>
        </div>
        <div class="config_detail_row">
          <span class="border_right">通道模式</span>
          <el-select v-model="SerialPortConfig[light_channel_index].mode" placeholder="请选择" style="width: 150px;">
            <el-option v-for="i in light_channel_model" :value="i.model" :label="i.name"></el-option>
          </el-select>
        </div>
      </div>
      <!-- 系统维护 -->
      <div v-show="menu_select==8" class="config_detail">
        <div class="config_detail_row">
          <span class="border_right">远程升级</span>
          <div style="display: flex;align-items: center;">
            <form class="select_file_box">
              <!-- 隐藏原始样式 -->
              <input type="file" style="width:0;height:0;" id="select_file" @change="selcet_file">
              <!-- 自定义样式 -->
              <div class="upload_button" @click="click_select">
                <i class="el-icon-upload" style="font-size: 20px;margin-right: 4px;padding-top: 4px;"></i>
                {{upload_files_list.length>0?'已上传更新':'选择文件'}}
              </div>
              <div class="upload_files" v-if="upload_files_list.length>0">
                <span style="font-size: 16px;margin: 0 10px;">{{upload_files_list[0].name}}</span>
                <i class="el-icon-circle-close cancel_upload" @click="cancel_upload"></i>
              </div>
            </form>
          </div>
        </div>
      </div>

      <el-row style="position: absolute;bottom: 50px;right: 0;left: 0;margin: 0 auto;width: 156px;">
        <el-button @click="submit_form" type="primary" :disabled="submit_ban">提交</el-button>
        <el-button @click="set_light_config" v-show="menu_select==7">配置到所有通道</el-button>
      </el-row>
    </div>
  </div>

  <script src="./module/jquery-3.6.0.js"></script>
  <script src="./module/spark-md5.min.js"></script>
  <script src="./module/vue.js"></script>
  <script src="./module/element-ui.js"></script>
  <script src="./module/axios.min.js"></script>
  <script>
    let config = new Vue({
      el: '#config',
      data: {
        submit_ban: false,//提交按钮禁用
        // 时间服务器配置
        ntp_config: {
          ntp_activate: false,//是否开启
          ntp_server_address: ''//地址
        },
        // mqtt配置
        mqtt_config: {
          mqtt_activate: false,//是否开启
          mqtt_id: "",//id
          mqtt_keep_alive_interval: 0,//心跳间隔
          mqtt_password: "",//密码
          mqtt_server_address: "",//服务器地址
          mqtt_user: "",//用户名
        },
        // 设备信息
        dev_info: {
          compile_time: "",//编译时间
          hardware_version: "",//硬件版本
          mac: "",//物理地址
          model: "",//设备型号
          serial_number: "",//序列号
          software_version: "",//软件版本
          type: "",//设备类型
          dimmer_work_mode: 2,//三种调光模式
          artnet_ip: "",//调光发送地址
          artnet_port: 0,//调光发送端口
        },
        // 媒体配置
        cameras: [
          {
            modelNo: "",//型号
            name: "hik",//名称
            rtsp: "",//拉流地址
            rtmp: "",//推流地址
            uuid: "64"//id
          }
        ],
        // 系统配置
        localCfg: {
          area_code: "cd",//区域
          artnet_model: "",//Artnet传输地址
          device_type: "",//设备类型
          dimmer_server_ip: "",//中心服务器地址
          dimmer_server_port: 0,//中心服务器端口
          local_rdm_activate: false,//是否开启RDM功能
          name: "",//设备名称
          uuid: ""//注册ID
        },
        // 网络配置
        net_config: {
          Net_Command: "",//指令
          Net_DeviceType: 4,//
          Net_GATEWAY: "",//网关
          Net_IP: "",//ip地址
          Net_MAC: "",//物理地址
          Net_NETMASK: "",//子网掩码
          Net_WorkMode: 0//切换网络获取方式
        },
        menu_select: 1,//导航栏选中目标
        contentTitle: '设备信息',//配置项标题
        av_config_index: 0,//媒体配置索引
        dimmer_work_mode: [
          { mode: 0, name: 'USB调光' },
          { mode: 1, name: '网络调光' },
          { mode: 2, name: '本地调光' }
        ],
        DhcpNetwork: false,//动态IP时，不能设置IP
        url_prefix: '',//接口前缀
        gateway_config_url: '',//网关接口
        net_config_url: '',//网络配置接口
        page_loading: false,//页面加载时遮罩
        // 灯光通道配置
        SerialPortConfig: [
          {
            baudrate: 0,//输入波特率,
            data_bits: 8,//数据位选8或7,
            stop_bits: 0,//停止位0或2,
            parity: 0,//奇偶校验00无01奇校验03偶校验,
            mode: 0,//通道模式0 DMX512模式 1 RDM模式
          }
        ],
        light_channel_index: 0,//灯光通道索引
        light_data_bits: [8, 7],//数据位
        light_stop_bits: [0, 2],//停止位
        // 奇偶校验
        light_parity: [
          { model: 0, name: '无' },
          { model: 1, name: '奇校验' },
          { model: 3, name: '偶校验' },
        ],
        // 通道模式
        light_channel_model: [
          { model: 0, name: 'DMX512模式' },
          { model: 1, name: 'RDM模式' },
        ],
        upload_files_list: [],//提交时上传的文件列表
      },
      created: function () {
        // 根据本地IP获取接口地址
        this.get_url_prefix()
        axios({
          method: 'get',
          url: this.gateway_config_url,
        }).then(res => {
          console.log(res)
          this.ntp_config = res.data.ntp_config;
          this.mqtt_config = res.data.mqtt_config;
          this.dev_info = res.data.dev_info;
          this.cameras = res.data.cameras;
          this.localCfg = res.data.localCfg;
          this.SerialPortConfig = res.data.SerialPortConfig
          // this.$nextTick(() => {
          //   this.page_loading = false
          // })
          this.page_loading = false
        });
        axios({
          method: 'get',
          url: this.net_config_url
        }).then(res => {
          console.log(res)
          this.net_config = res.data
          if (this.net_config.Net_WorkMode == 0) {
            this.net_config.Net_Command = 'HsSetDhcpNetwork'
            this.DhcpNetwork = true
          } else {
            this.net_config.Net_Command = 'HsSetStaticNetwork'
            this.DhcpNetwork = false
          }
        });
      },
      methods: {
        // 验证IP输入是否合法
        check_ip_input: function (ip) {
          let reg = /((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})(\.((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})){3}/
          if (!reg.test(ip)) {
            this.$message.error('只能为0-255的数字')
          }
        },
        // 正则获取前缀
        get_url_prefix: function () {
          let reg = new RegExp('http[s]?://[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+')
          this.url_prefix = location.href.match(reg)[0]
          console.log(location.href.match(reg))
          // this.url_prefix = 'http://192.168.30.132'
          this.gateway_config_url = `${this.url_prefix}:8880/gatewayconfig`
          this.net_config_url = `${this.url_prefix}:8880/net_config`
        },
        // 传递选中索引
        menuSelected: function (index, path) {
          let temp;
          this.menu_select = Number(path[0]);
          switch (path[0]) {
            case '1':
              this.contentTitle = '设备信息';
              break;
            case '2':
              this.contentTitle = '时间服务器配置';
              break;
            case '3':
              this.contentTitle = 'mqtt配置';
              break;
            case '4':
              temp = path[1].split('-')[1];
              this.contentTitle = `媒体配置#${temp}`;
              this.av_config_index = temp - 1;
              break;
            case '5':
              this.contentTitle = '系统配置';
              break;
            case '6':
              this.contentTitle = '网络配置';
              break;
            case '7':
              temp = path[1].split('-')[1];
              this.contentTitle = `灯光通道配置#${temp}`;
              this.light_channel_index = temp - 1;
              break;
            case '8':
              this.contentTitle = '系统维护';
              break;
          }
        },
        // 媒体配置索引
        media_index: function (index) {
          return `4-${index + 1}`;
        },
        // 灯光通道索引
        light_index (index) {
          return `7-${index + 1}`;
        },
        // 将网络设置切换关联发送命令
        net_config_switch: function () {
          if (this.DhcpNetwork) {
            this.net_config.Net_WorkMode = 0
            this.net_config.Net_Command = 'HsSetDhcpNetwork'
          } else {
            this.net_config.Net_WorkMode = 1
            this.net_config.Net_Command = 'HsSetStaticNetwork'
          }
          // if (this.net_config.Net_WorkMode == 0) {
          //   this.net_config.Net_Command = 'HsSetDhcpNetwork'
          //   this.DhcpNetwork = true
          // } else {
          //   this.net_config.Net_Command = 'HsSetStaticNetwork'
          //   this.DhcpNetwork = false
          // }
          // this.net_config.Net_WorkMode = Number(this.net_config.Net_WorkMode)
        },
        // 提交按钮
        submit_form: function () {
          this.$confirm('提交后会重启设备，是否继续？', '提示', {
            confirmButtonText: '确认',
            cancelButtonText: '取消',
            type: 'warning',
          }).then(() => {
            switch (this.menu_select) {
              case 6:
                console.log(typeof (this.net_config.Net_WorkMode))
                axios({
                  method: 'post',
                  url: this.net_config_url,
                  data: this.net_config
                }).then(res => {
                  console.log(res)
                })
                break;
              default:
                axios({
                  method: 'post',
                  url: this.gateway_config_url,
                  data: {
                    ntp_config: this.ntp_config,
                    mqtt_config: this.mqtt_config,
                    dev_info: this.dev_info,
                    cameras: this.cameras,
                    localCfg: this.localCfg,
                    SerialPortConfig: this.SerialPortConfig
                  }
                }).then((res) => {
                  console.log(res)
                })
                break;
            }
            this.$message.success('提交成功，设备重启中')
          }).catch(() => {
            this.$message.info('取消提交')
          })
        },
        set_light_config () {
          // 获取正在编辑的通道索引修改全部通道变量
          let common_config = this.SerialPortConfig[this.light_channel_index]
          this.SerialPortConfig.forEach(element => {
            Object.assign(element, common_config)
          });
        },
        // 验证输入
        verify_input (value) {
          reg = /^\d*$/
          if (reg.test(value)) {
            this.submit_ban = false
          } else {
            this.$message.error('只能输入数字')
            this.submit_ban = true
          }
        },
        // 上传文件
        click_select () {
          select_file.click()
        },
        selcet_file () {
          // 用于显示和提交的文件列表
          this.upload_files_list = []
          for (let i = 0; i < select_file.files.length; i++) {
            this.upload_files_list.push(select_file.files[i])
          }
          let data_stream = new FileReader()
          data_stream.readAsBinaryString(select_file.files[0])
          data_stream.onload = (e) => {
            let md = SparkMD5.hashBinary(data_stream.result)
            let form_obj = new FormData()
            form_obj.append(this.upload_files_list[0].name, select_file.files[0])
            axios({
              method: 'post',
              url: `http://192.168.30.136:8880/upload?md5=${md}`,
              data: form_obj,
            }).then(res => {
              console.log(res)
            })
          }
        },
        // 清除上传的文件
        cancel_upload () {
          this.upload_files_list.splice(0, 1)
        },
      }
    })
  </script>
</body>

</html>